@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background: rgb(241,241,241);
}
img{
	max-width: 100%;
}

a{
	text-decoration: none;
	color: #343434;
}

body{
	background-color: #ffffff;
	margin: 0px;
}

.nav{
	height: 100px;
	position: fixed;
	top: 0px;
	background-color: #ffffff;
	width: 100%;
}
.logo{
    width: 200px;
    float: left;
	padding: 0% 0% 0% 4%;
}
.navright{
	float: right;
	padding: 2% 2% 2% 4%;
	padding-right: 4%;
}

.navright a{
	padding-right: 20px;
	line-height: 32px;
	font-weight: 700;
	font-size: 28px;
}

h3 {
	font-size: 28px;
	line-height: 32px;
	cursor: pointer;
	display: block;
	margin-bottom: 00.5em;
}
.navright.m{
	display: none;
}


hr{
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	border-width: 1px;

}
.clear{
	clear:both;
}

.contenttext{
	margin-top: 300px;
	width: 75%;
	margin-left: 25%;
}

.contenttop{
	margin: 100px 0;
	font-size: 30px;
	color: #ffc400;
	font-weight: 500;
}

.contentbig{
	font-size: 80px;
	font-weight: 800;
	margin-bottom: 120px;
	color: #2d2d2d;
}

.contentbottom1{
	margin-bottom: 100px;
	align-items: top;
}

.contentbottom1 a{
	text-decoration: underline;

}
	.contentbottom1 a:hover{
		text-decoration: underline;
		font-style: italic;
		color: #ffc700;
	}

.first{
	width: 15%;
	float: left;
	margin-right: 5%;
	font-weight: 700;
	line-height: 1.8;
	vertical-align: text-top;

}

.second{
	width:15%;
	float: left;
	margin-right: 5%;
	font-weight: 700;
	color: #ffc400;
	vertical-align: text-top;

}

.third{
    float: left;
    width: 55%;
    font-size: 24px;
	font-weight: 500;
	margin-right: 5%;
	line-height: 1.8;
	vertical-align: text-top;

}

.mypic{
	background-color: white;
	padding: 0 2%;
}

.mypic li{
	float: left;
    width: 32%;
	list-style: none;
	padding-bottom: 20px;
}

.mypic li:nth-child(3n+2){
	margin-right: 2%;
}

.mypic li:nth-child(3n+1){
	margin-right: 2%;
}

.contenttext.new{
	margin-top: 50px;
}

.imagetext{
	background-color: white;
	padding: 64px 1% 64px 2%;
}

.imagetext h1{
    font-size: 75px;
	text-align: center;
	padding-bottom: 28px;
}

.imagetextlist{
	width: 30%;
	float: left;
}

.imagetextlist:nth-child(-n+4){
	margin-right: 2%;
}


.imagetextlist h2{
	padding: 20px 0px;
}

.imagetextlist h2:hover{
	padding: 20px 0px;
	text-decoration: underline;
	color: #03c48a;
}

.imagetextlist p{
	font-size: 14px;
	line-height: 16px;
}

.project{
	width: 80%;
	margin-left: 20%;
}

.projecttop{
	margin: 100px 0px;
}

.projecttopleft{
	width: 40%;
	float: left;
	padding-right: 5%;
}

.projecttopright{
	width: 60%;
	float: left;
	padding-right: 5%;
}

.projecttopright h1{
	font-size: 36px;
	padding-bottom: 32px;
	text-decoration: underline;
}

.projecttopright p{
	line-height: 32px;
	font-size: 20px;
}

.strong{
	font-weight: 900;
}

.masonry {
  padding: 0 10%; 
  margin: 10px auto; 
  columns: 5; 
  column-gap: 15px; 
}
.item {
  width: 100%;
  break-inside: avoid;
  margin-bottom: 10px;
}

.footer{
	margin: 80px 0;
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom: 2%;
	vertical-align: bottom;
}

.footer h2{
	font-size: 48px;
	line-height: 80px;
}

.footer h3{
	font-size: 28px;
	line-height: 32px;
}

.footer h4{
	text-align: right;
	font-weight: 300;
	font-size: 16px;
	color: #bdbdbd;
}


@media screen and (min-width: 800px) and (max-width: 1500px) {
	.contentbig{
    font-size: 65px;
    padding-right: 10%;
	}
	
	.contenttext{
		margin-top: 230px;
	}
	
	.contenttop{
		 margin: 90px 0;
		 font-size: 24px;
	}
	.contentbig p{
		padding-bottom: 40px;
	}
	
	.nav{
		padding: 3% 3% 3% 6%;
	}
	.logo{
		font-size: 32px;
		line-height: 32px;
	}
	.contentbig{
		margin-bottom: 180px;
	}
	.third{
		font-size: 21px;
	}

	.footer span{
		vertical-align: bottom;
	}
	
}


@media screen and (max-width: 800px) {
	.navright{
		display: none;
		color: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
	}
	.nav.m{
		height: 70px;
		padding: 16px;
	}
	.logo{
		font-size: 30px;
			width: 100PX;
			padding-top: 4%;
	}
	
	.nav{
		display: block;
	}
	.navright.m{
		display: block;
		margin-top: 14px;
		padding-right: 16px;
		width: 60px;
	}
	
	.topnav{
		    display: none;
		    width: 100%;
		    box-sizing: border-box;
		    height: 100%;
		    z-index: 999;
		    background-size: cover;
	}
	
	.navlist{
		    position: fixed;
		    top: 30%;
			left: 0px;
			    right: 0px;
	}
	
	.navlist a{
    float: left;
    width: 100%;
    line-height: 80px;
    font-size: 27px;
    text-align: center;
    font-weight: 500;
	}
	
	.close{
		    float: right;
		    padding: 2% 6% 2% 4%;
		    padding-right: 5%;
	}
	
	.contenttop{
		font-size: 21px;
		margin: 30px 0;
		padding-top: 20px;
	}
	.contentbig{
		font-size: 28px;
		margin-bottom: 30px;
		line-height: 40px;
	}


	
	.mypic li{
		width: 49%;
	}
	
	.mypic li:nth-child(2n-1){
		margin-right: 2%;
	}
	
	.mypic li:nth-child(2n){
		margin-right: 0;
	}
	
	
	.contenttext {
    margin-top: 100px;
    width: 90%;
    margin-left: 0%;
	padding: 0 5%;
	
	}
	.first {
	    width: 100%;
	    float: none;
	    margin-right: 0;
		display: none;
	}
	
	.second {
	    width: 100%;
	    float: none;
	    margin-right: 0;
	    font-weight: 700;
	    margin: 20px 0;
		
	}
	
	.third {
	    float: none;
	    width: 100%;
	    font-size: 18px;
	    line-height: 35px;
	    margin-right: 0;
	}
	
	.imagetextlist{
		width:100%;
		float: none;
	}
	.contentbottom1{
		margin-bottom: 20px;
	}

	
	
	.imagetext{
		padding: 30px 2% 30px 2%;
		width: 100%;
	}
	.imagetext h1 {
	    font-size: 36px;
		padding-bottom: 80px;
		text-decoration: underline;
	}
	
	.project {
	    width: 100%;
	    margin-left: 0;
	    padding: 0 5%;
	}
	
	.projecttopright h1 {
	    font-size: 26px;
		padding: 30px 0;
	}
	
	.projecttopright p{
		font-size: 14px;
		line-height: 36px;
	}
	
	.projecttop{
	   margin: 40px 0px;
	}
	
	.projecttopleft {
	    width: 100%;
	    float: none;
	}
	.projecttopright {
	    width: 100%;
	    float: none;
	    padding-right: 0;
	}
	
	.masonry {
	  columns: 2;
	  column-gap: 5px;
	}
	
	.footer {
	    margin: 50px 0;
		width: 100%;
		padding: 6% 6% 6% 6%;
	}
	
	.footer h3{
		font-size: 16px;
		line-height: 22px;
	}

	.footer h2{
		font-size: 24px;
		line-height: 28px;
	}

	.footer h4{
		font-size: 10px;
		line-height: 16px;
	}

	.footerleft {
	    width: 100%;
	    text-align: center;
	    font-size: 20px;
		margin-bottom: 10px;
	}
	.footerright{
		font-size: 14px;
	}

	.footer span{
		padding-bottom: 5%
	}
}



.gradient-text {
	/* Fallback: Set a background color. */
	background: #FF4E50;  /* fallback for old browsers */
	
	/* Create the gradient. */
	background: -webkit-linear-gradient(to right, #F9D423, #FF4E50);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #F9D423, #FF4E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		
	/* Set the background size and repeat properties. */
	background-size: 100%;
	background-repeat: repeat;
  
	/* Use the text as a mask for the background. */
	/* This will show the gradient as a text color rather than element bg. */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; 
	
	/* Animate the text when loading the element. */
	  /* This animates it on page load and when hovering out. */
	  animation: rainbow-text-simple-animation-rev 0.25s ease forwards;
  
  }
  
  .gradient-text:hover{
	  animation: rainbow-text-simple-animation 0.5s ease-in forwards;
  }
  
  
  /* Move the background and make it smaller. */
  /* Animation shown when entering the page and after the hover animation. */
  @keyframes rainbow-text-simple-animation-rev {
	  0% {
		  background-size: 150%;
	  }
	  40% {
		  background-size: 150%;
	  }
	  100% {
		  background-size: 100%;
	  }
  }

  ::-moz-selection { /* Code for Firefox */
	color: #64ffda;
	background: #424242;
  }
  
  ::selection {
	color: #64ffda;
	background: #424242;
  }